<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>200613419354-pisq201o54vgjoec0qiq43l2k1r4l10o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200613419354-pisq201o54vgjoec0qiq43l2k1r4l10o</string>
	<key>API_KEY</key>
	<string>AIzaSyCEnO8HgwWmW15X9Tri8mCX1ShUKwrCj-s</string>
	<key>GCM_SENDER_ID</key>
	<string>200613419354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BA.BreakPointApp</string>
	<key>PROJECT_ID</key>
	<string>breakpointapp-19205</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpointapp-19205.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200613419354:ios:8b1ffdcaad06ab3f</string>
	<key>DATABASE_URL</key>
	<string>https://breakpointapp-19205.firebaseio.com</string>
</dict>
</plist>